[Unit]
Description=GitHub Actions Self-Hosted Runner
After=network-online.target podman.socket
Wants=network-online.target

[Container]
Image=localhost/gh-runner:latest
EnvironmentFile=/opt/github/runner/.env
Volume=/run/podman/podman.sock:/var/run/docker.sock
SecurityLabelDisable=true

[Service]
User=root
Group=podman
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
